body{

	background-color: #2471A3;
	font-family: arial, verdana, sans-serif;
	margin-left: 20px;
}


fieldset{
	margin:10px;
	padding: 5px;
	border-radius: 1px;
	background-color: #D0ECE7
	
}

h1{
	text-align: center;
	color: white;
}

#name{
	width: 50%;
	height: 25px;

}

input[type="submit"],input[type="reset"]{
	height: 30px;
    width: 150px;
	
